/* ===== CONTAINER ===== */
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 25px;
}

/* ===== VIDEO ===== */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* ===== DARK OVERLAY ===== */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
  color: white;
}

/* ===== TITLE ===== */
.home-title {
  color: rgb(4, 4, 4);
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 0 0 10px orange, 0 0 20px #fff, 0 0 30px #ff6a00;
}

/* ===== SUBTITLE ===== */
.home-subtitle {
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* ===== SMALLER ORDER BUTTON ===== */
.order-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  transition:
    transform 0.25s ease,
    box-shadow 0.3s ease;
}

/* ===== BUTTON HOVER ===== */

.order-btn:hover {

  transform: scale(1.05);

  box-shadow:
    0 8px 18px rgba(255,106,0,0.35);
}

/* ===== BUTTON CLICK ===== */

.order-btn:active {

  transform: scale(0.92);
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .home-title {
    font-size: 34px;
    padding: 0 10px;
  }

  .home-subtitle {
    font-size: 18px;
    padding: 0 20px;
  }

  .order-btn {
    width: 180px;
    height: 45px;
    font-size: 14px;
    padding: 6px 12px;
  }
}
